#englishTitle{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #82D082;
}
#englishTeachersTitle{
	padding-top: 5px;
	padding-bottom: 5px;
}
#englishTeachersBody{

}
